
body {
    background-image: url('/Imgs/Forest2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.hoverImage{
   /* position: relative;*/
    display: inline-block;

}
.container{
    display: inline-block;

}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .2s ease;
    
}
.container:hover + .overlay { /*psuedo-class*/
    opacity: 1;
}

